<div class="row">
    <!-- open mobile filter button -->
    <button class="d-block d-lg-none btn btn-secondary w-100" (click)="openMobileFilter()">
        <i class="fa fa-filter" aria-hidden="true"></i>
    </button>
    <div id="filter-products-panel" [ngClass]="(resizeWindowWatcherService.mobileMode$|async)?'overlay-menu':'col-lg-4'">
        <app-products-filter  *ngIf="products"
        [filterAttributes]="(filterAttributes)"
        (filter)="onFilter($event)"></app-products-filter>
    </div>
    
    <div id="list-main-panel" class="col-lg-8">
        <app-products-breadcrumps></app-products-breadcrumps>
        <ngx-spinner name="products-list-spinner" size="medium" [fullScreen]="false">
            <h3>Loading...</h3>
          </ngx-spinner>
        <div class="row" *ngFor="let product of products">
            <app-products-list-item [product]="product" style="width: 100%;"></app-products-list-item>
        </div>   
        <div id="pagination-panel" [ngStyle]="paginationPanelStyles" class="d-flex justify-content-center" *ngIf="pagination">
            <pagination [boundaryLinks]="true" [totalItems]="pagination.totalPages*pagination.itemsPerPage"
                    [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.page"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
        </div>
    </div>
</div>