<div class="row">
    <!-- open mobile filter button -->
    <button class="d-block d-lg-none btn btn-secondary w-100" (click)="openMobileFilter()">
        <i class="fa fa-filter" aria-hidden="true"></i>
    </button>
    <div id="filter-products-panel" [ngClass]="(resizeWindowWatcherService.mobileMode$|async)?'overlay-menu':'col-lg-4'">
        <app-products-filter  *ngIf="products"
        [filterAttributes]="(filterAttributes)"
        (filter)="onFilter($event)"></app-products-filter>
    </div>
    
    <div id="list-main-panel" class="col-lg-8">
        <div class="row" style="height: 50px;" *ngFor="let product of products">{{product.id}}</div>   
        <div id="pagination-panel" [ngStyle]="paginationPanelStyles" class="d-flex justify-content-center" *ngIf="pagination">
            <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.page"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
        </div>
    </div>
</div>