<div class="card">
  <div class="card-header">
    <div class="modal-header border-0 p-0">
      <p class="h3 m-0">{{title}}</p>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="opinionForm">
      <input type="number" class="d-none" [formControl]='opinionForm.controls["id"]'/>
      <input type="number" class="d-none" [formControl]='opinionForm.controls["productId"]'/>
      <input type="checkbox" class="d-none" [formControl]='opinionForm.controls["deleted"]'/>
      <div class="form-group">
        <div class="d-flex align-items-center">
          <label class="col-form-label mr-2">Product rating:</label>
          <rating formControlName="rating" style="font-size: 30px;" [max]="6"></rating>
        </div>
        <div *ngIf="opinionForm.controls['rating']?.errors?.required" class="invalid-feedback">
          Please enter product rating
        </div>
      </div>
      <app-text-input [formControl]='opinionForm.controls["title"]' [label]='"Title"'></app-text-input>
      <app-textarea [formControl]='opinionForm.controls["content"]' [label]='"Content"'></app-textarea>
    </form>


    <div class="modal-footer">
      <button type="button" form="opinionForm" [disabled]="!opinionForm.valid" class="btn btn-primary"
        (click)="save()">Save</button>
    </div>
  </div>
</div>