<div class="d-none d-sm-block">
    <h1>Shop</h1>
</div>


<nav id="top-navbar" class="navbar-expand-lg navbar-light bg-light border-bottom sticky-top container-fluid 
    p-2 pr-3 pl-3 row m-0">
    <div class="col-3 col-md-1 order-0">
        <button class="btn btn-outline-secondary" 
        [ngClass]="(((resizeWindowWatcherService.mobileMode$|async) || !((routeWatcherService.homePage$|async))))?'':'d-none'"
        (click)="openSideNavbar()"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>

    <div class="col-3 col-md-2 order-0">
      <div class="btn-group " dropdown [ngClass]="((accountService.currentUser$|async) && (accountService.currentUser$|async).roles.includes('Admin'))?'d-inline-block':'d-none'">
        <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
                aria-controls="dropdown-animated">
                Admin Panel
                <i class="fa fa-user-plus" aria-hidden="true"></i> <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right drop"
            role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" (click)="navigateToAttributes()">Attributes</a>
            <li role="menuitem"><a class="dropdown-item" routerLink='attributes'>Categories</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
          </div>
    </div>


    <div class="col-6 col-md-3 order-1 order-md-2">
      <div class="float-right">
        <div [ngClass]="!(accountService.currentUser$|async)?'d-inline-block':'d-none'">
          <button class="btn btn-outline-success mr-1" routerLink='account/login'>Log In</button>
          <button class="btn btn-outline-success" routerLink='account/register'>Register</button>
        </div>
        <div [ngClass]="(accountService.currentUser$|async)?'d-inline-block':'d-none'">
          <!-- <button class="btn btn-outline-success" (click)="logout()">Log Out</button> -->
          <div class="btn-group " dropdown>
            <button id="button-animated" dropdownToggle type="button" class="btn dropdown-toggle"
                    aria-controls="dropdown-animated">
                    <!-- <span>Hi {{(accountService.currentUser$|async).username}},</span> -->
                    Hi {{(accountService.currentUser$|async)?.username}}
                    <i class="fa fa-user" aria-hidden="true"></i> <span class="caret"></span>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right drop"
                role="menu" aria-labelledby="button-animated">
              <li role="menuitem"><a class="dropdown-item" (click)="logout()">Log Out</a></li>
              <li role="menuitem"><a class="dropdown-item" routerLink='account'>My account</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else
                here</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
</nav>