  <!-- <div class="row">
    <div id="side-navbar" [ngClass]="(resizeWindowWatcherService.mobileMode$|async)?'overlay-menu':'col-sm-3'">
      <app-side-navbar></app-side-navbar>
  </div>
    
    <div class="col-12 col-md-9">
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
        <div class="row">dsadsa</div>
    </div>
</div> -->

<div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
  <div class="row">dsadsa</div>
</div>