<!-- <div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div> -->
  <div class="modal-body p-0">
    <div class="col-12 p-0">
        <div class="card">
          <div class="card-header">
            <div>
                <div class="d-inline-block">
                    <h3>Reset password</h3>
                </div>
                <button type="button" class="btn-close close float-right" aria-label="Close" (click)="bsModalRef.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
          </div>
          <div class="card-body">
            <form id="logInForm" [formGroup]="resetPasswordForm">
              <div class="form-group form-row">
                <label class="col-3 font-weight-bold" for="login">Login/email:</label>
                <app-text-input class="col-9" [formControl]='resetPasswordForm.controls["login"]' [label]='"Login"'></app-text-input>
              </div>
  
              <button [disabled]="!resetPasswordForm.valid" type="button" class="btn btn-success float-right" form="Reset password" (click)="resetPassword()">Reset password</button>
            </form>
          </div>
        </div>
      </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div> -->


<!-- <div class="container-fluid">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Log In</h3>
        </div>
        <div class="card-body">
          <form id="logInForm" [formGroup]="resetPasswordForm">
            <div class="form-group form-row">
              <label class="col-3 font-weight-bold" for="login">Login/email:</label>
              <app-text-input class="col-9" [formControl]='resetPasswordForm.controls["login"]' [label]='"Login"'></app-text-input>
            </div>

            <button [disabled]="!resetPasswordForm.valid" type="button" class="btn btn-success float-right" form="Log In" (click)="resetPassword()">Reset password</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  