  <div class="container-fluid">
    <div class="col-12 col-md-6 offset-md-3 mt-3">
      <div class="card">
        <div class="card-header">
          <h3>Log In</h3>
        </div>
        <div class="card-body">
          <form id="logInForm" [formGroup]="logInForm">
            <div class="form-group form-row">
              <label class="col-3 font-weight-bold" for="login">Login/email:</label>
              <app-text-input class="col-9" [formControl]='logInForm.controls["login"]' [label]='"Login"'></app-text-input>
            </div>
            <div class="form-group form-row">
              <label class="col-3 font-weight-bold" for="password">Password:</label>
              <app-text-input class="col-9" [formControl]='logInForm.controls["password"]' 
                [label]='"Password"' [type]='"password"'></app-text-input>
            </div>

            <div class="clearfix">
              <button [disabled]="!logInForm.valid" type="button" class="btn btn-outline-success float-left" form="Log In" (click)="resendVerificationEmail()">Resend verification email</button>
              <button [disabled]="!logInForm.valid" type="button" class="btn btn-success float-right" form="Log In" (click)="logIn()">Log In</button>
            </div>
            <div class="container">
              <div class="row justify-content-center">
                <a class="btn text-primary" (click)="openResetPasswordModal()">I forgot my password</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  