<button class="btn btn-outline-warning float-right"
[ngClass]="(((resizeWindowWatcherService.mobileMode$|async) || !((routeWatcherService.homePage$|async))))?'':'d-none'" 
(click)="closeNav()">x</button>
<div class="list-group list-group-flush" style="clear: both;">
  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
  <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
</div>