
<div class="row">
    <!-- open mobile filter button -->
    <button class="d-block d-lg-none btn btn-secondary w-100" (click)="mobileNavbarHelpersService.openMobileNavbar('account-managment-navbar-panel')">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div id="account-managment-navbar-panel" [ngClass]="(resizeWindowWatcherService.mobileMode$|async)?'overlay-menu':'col-lg-4'">
        <app-account-managment-navbar></app-account-managment-navbar>
    </div>

    <div id="list-main-panel" class="col-lg-8">
        <div class="container-fluid">
            <div class="col-12 col-md-10 offset-md-1 mt-3">
                <button type="button" class="btn btn-primary" (click)="addNewShippingAddres()">Add addres</button>
                <div *ngIf="(shippingAddressesService.shippingAddresses$|async)">
                  <div *ngFor="let addres of (shippingAddressesService.shippingAddresses$|async)">
                    <app-shipping-address [shippingAddress]="addres"></app-shipping-address>
                    <!-- {{addres.id}} -->
                  </div>
                </div>
                
                <!-- <div class="card">
                    <div class="card-header">
                      <h3>New password</h3>
                    </div>
                    <div class="card-body">
                      <form id="registerForm" [formGroup]="changePasswordForm">
                        <div class="form-group form-row">
                          <label class="col-3 font-weight-bold" for="actualPassword">Actual Password:</label>
                          <app-text-input class="col-9" [formControl]='changePasswordForm.controls["actualPassword"]' 
                            [label]='"Actual Password"' [type]='"password"'></app-text-input>
                        </div>
                        <div class="form-group form-row">
                          <label class="col-3 font-weight-bold" for="newPassword">New Password:</label>
                          <app-text-input class="col-9" [formControl]='changePasswordForm.controls["newPassword"]' 
                            [label]='"New Password"' [type]='"password"'></app-text-input>
                        </div>
                        <div class="form-group form-row">
                          <label class="col-3 font-weight-bold" for="newPasswordRepeated">Repeated New Password:</label>
                          <app-text-input class="col-9" [formControl]='changePasswordForm.controls["newPasswordRepeated"]' 
                            [label]='"Repeated New Password"' [type]='"password"'></app-text-input>
                        </div>
                        <div class="form-group form-row">
                          <label class="col-9 offset-3 font-italic" for="newPasswordRepeated">After changing your password, you will be logged out for security reasons</label>
                        </div>
                        <button type="button" 
                        [disabled]="!changePasswordForm.valid" 
                        class="btn btn-success float-right" form="registerForm" (click)="changePassword()">Change password</button>
                      </form>
                    </div>
                  </div> -->
            </div>
          </div>        
    </div>
    
</div>