
<div class="row">
    <!-- open mobile filter button -->
    <button class="d-block d-lg-none btn btn-secondary w-100" (click)="mobileNavbarHelpersService.openMobileNavbar('account-managment-navbar-panel')">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div id="account-managment-navbar-panel" [ngClass]="(resizeWindowWatcherService.mobileMode$|async)?'overlay-menu':'col-lg-4'">
        <app-account-managment-navbar></app-account-managment-navbar>
    </div>

    <div id="list-main-panel" class="col-lg-8">
        <div class="container-fluid address-card-padding">
            <div class="col-12 col-md-10 offset-md-1 mt-3">
                <button type="button" class="btn btn-primary"  (click)="addNewShippingAddres()">Add addres</button>
                <div class="row" *ngIf="(shippingAddressesService.shippingAddresses$|async)">
                  <div class="col-12 col-md-6 mt-4 position-relative" *ngFor="let addres of (shippingAddressesService.shippingAddresses$|async)">
                    <app-shipping-address-card [shippingAddress]="addres" (editEvent)="onEdit($event)"></app-shipping-address-card>
                  </div>
                </div>
            </div>
          </div>        
    </div>
    
</div>