<div class="container-fluid">
    <button type="button" class="btn btn-success w-100 mb-3" (click)="addNewCategory(null)">Add new main category</button>


    <div *ngIf="categoryService.categoriesTree$ | async">
        <div class="row m-0" *ngFor="let categoryTreeItem of categoryService.categoriesTree$ | async">
            <app-category-tree-item (editEvent)="updateNewCategory($event)" (deleteEvent)="delete($event)" 
            (addEvent)="addNewCategory($event)" (showHistoryEvent)="showHistory($event)"
            (expandReduceEvent)="expandReduce($event)" [categoryTreeItem]="categoryTreeItem"></app-category-tree-item>
        </div>
    </div>
</div>