<div>
    <div class="card">
        <div class="card-header">
          <h5>{{shippingAddress.firstName}} {{shippingAddress.lastName}}</h5>
        </div>
        <div class="card-body">
          <div>{{shippingAddress.phone}}</div>
          <div>{{shippingAddress.zipCode}} {{shippingAddress.city}}</div>
          <div>{{shippingAddressesService.fullShippingAddress(shippingAddress)}}</div>
        </div>
        <div class="card-footer">
          <button class="btn btn-default btn-lg p-0">
            <i class="fa fa-star-o" aria-hidden="true"></i>       
          </button>
          <button class="btn btn-default btn-lg p-0 float-right" (click)="delete()">
            <i class="fa fa-trash" style="color:brown;" aria-hidden="true"></i>       
          </button>
        </div>
      </div>
  </div>