<div class="form-group">
    <select 
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    class="form-control" 
    [formControl]="ngControl.control"
    popover="{{label}}"
    triggers="mouseenter:mouseleave"
    (change)="change(select.value)" #select>
    <option *ngFor="let keyValue of keyValueMap| keyvalue:asIsOrder" let i = index [value]="keyValue.key"  
        [attr.disabled] = "keyValue.key==null && hideNullValue?'disabled' : null"
        [attr.hidden] = "keyValue.key==null && hideNullValue?'hidden' : null">
        {{keyValue.value}}
    </option> 
   
</select>


    <div *ngIf="ngControl.control?.errors?.required" class="invalid-feedback">Please enter a {{label}}</div>
    <!-- <div *ngIf="ngControl.control?.errors?.minlength" class="invalid-feedback">
        {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}}
    </div>
    <div *ngIf="ngControl.control?.errors?.maxlength" class="invalid-feedback">
        {{label}} must be at most {{ngControl.control.errors.maxlength['requiredLength']}}
    </div>
    <div *ngIf="ngControl.control?.errors?.isMatching" class="invalid-feedback">
        Passwords do not match
    </div>
    <div *ngIf="ngControl.control?.errors?.email" class="invalid-feedback">
        Email is invalid
    </div>
    <div *ngIf="ngControl.control?.errors?.emailTaken" class="invalid-feedback">
        This email has been taken, please use another one
    </div>
    <div *ngIf="ngControl.control?.errors?.loginTaken" class="invalid-feedback">
        This login has been taken, please use another one
    </div> -->
</div>