<div class="card">
    <div class="card-header">
        <div class="modal-header border-0 p-0">
          <!-- <p class="h3 m-0">{{title}}</p> -->
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
    </div>
    <div class="card-body">
      <div class="d-flex flex-wrap photos-panel" cdkDropListOrientation="horizontal">
        <div *ngFor="let photo of productService.productManagmentPhotos"  cdkDrag class="p-2">
          <div class="img-wrapper">
            <img class="miniature d-inline img-responsive" [src]="photo.url" (click)="selected(photo.url)"/>
         </div>
        </div>
        </div>

      
      <div class="modal-footer">
        <!-- <button type="button" (click) (click)="save()">Save</button> -->
      </div>
    </div>
  </div>