<div class="container-fluid">

    <div class="card">
        <div class="card-header">
          Description
        </div>
        <div class="card-body p-0">
            <div>
                <ng-template #productDescriptionContainerRef></ng-template>
            </div>
        </div>
        <div class="card-footer p-0">
            <button type="button" class="btn btn-outline-secondary w-100 border-0" (click)="addDescriptionParagraph()">Add next paragraph</button>
          </div>
      </div>


</div>


